.deck-container {
    background: #14242E !important;
    color: #ffffff;
    text-shadow: none !important;
    background-image: url(images/oci-whitetext.png) !important;
    background-position: bottom left !important;
    background-repeat: no-repeat !important;
}
.deck-container h1 {
    color: #ffffff!important;

}
.deck-container h2 {
    color: #ffffff!important;
}

.deck-container .cssreflections h2 {
    line-height: 1;
    -webkit-box-reflect: none !important;
    -moz-box-reflect: none !important;
}

.deck-status {
    color: #ffffff !important;
}