

/**
 * Blood theme for reveal.js
 * Author: Walther http://github.com/Walther
 *
 * Designed to be used with highlight.js theme
 * "monokai_sublime.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 * For other themes, change $codeBackground accordingly.
 *
 */
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: white;
  background-color: white;
}

.reveal {
  font-family: "proxima_nova_rgregular", "sans-serif";
  font-size: 32px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #000000; }

::selection {
  color: white;
  background: #2661A8;
  text-shadow: none; }

.frontlogo {
   border: 0 !important;
   box-shadow: 0 0 0px !important;
   padding: 10px 10px 120px 10px !important;

}


/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-size: 18px;
  margin: 0 0 20px 0;
  color: #0c3064;
  font-family: "proxima_nova_rgregular", "sans-serif";
  line-height: 0.9em;
  letter-spacing: 0.02em;
}

.reveal h1 {
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15); }

.reveal h1 {
   font-size: 54px;
}
.reveal h2 {
   font-size: 42px;
}

.ulist {
   text-align: left;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #2661A8;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #dd5566;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #6a1520; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #2661A8; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #2661A8; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #2661A8; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #2661A8; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #dd5566; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #dd5566; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #dd5566; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #dd5566; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #2661A8;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #2661A8; }

.reveal p {
  font-weight: 300;
 }
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-weight: 700; }

.reveal a:not(.image),
.reveal a:not(.image):hover {
  text-shadow: 2px 2px 2px #000; }

.reveal small a:not(.image),
.reveal small a:not(.image):hover {
  text-shadow: 1px 1px 1px #000; }

.reveal p code {
  font-family: "Source Code Pro", "proxima_nova_rgregular", "sans-serif";
  background-color: #eeeeee;
  display: inline-block;
  border-radius: 7px; }

.reveal small code {
  vertical-align: baseline; }


#header {
   position:absolute;
   top:0;
   width:100%;
   height:20px;
   padding: 0;
   background-color: hsl(209, 100%, 29%);
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:40px;
   padding: 10px;
   background-color: hsl(209, 100%, 29%);
   color:#ffffff;
}

